@import 'bootstrap/bootstrap.less';
@import 'prism.less';

@font-face {
  font-family: Flagship;
  src: url('/assets/flagship.otf');
}
@font-face {
  font-family: Adam;
  src: url('/assets/adam.otf');
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-size: 1em;
  color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Flagship';
}

.sidebar {
  background-image: url('/assets/office.png');
  color: #C4C4C4;
  .intro {
    font-family: 'Adam';
    .small {
      padding-top: 1em;
      font-family: Courier;
    }
    .name {
    }
    .about {
      list-style: none;
      padding: 0px;
      margin: 0px;
      line-height: 2em;
      margin-top: 25px;
      font-family: Courier;
    }
  }
  .bottom {

  }
}

@media (min-width: @screen-md-min) {
  .sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .intro {
      text-align: right;
      .small {
        text-align: right;
      }
      .name {
        font-size: 3em;
        line-height: 1.2em;
        padding-top: 0px;
      }
      .about {
      }
    }
    .bottom {
      text-align: right;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 15px;
    }
  }
}

@media (max-width: @screen-md-min) {
  .sidebar {
    min-height: 100%;
    .intro {
      text-align: center;
      .small {
      }
      .name {
        font-size: 4em;
        line-height: 0.9em;
        padding-top: 0px;
      }
      .about {
        font-size: 1.3em;
        padding-top: 0em;
        padding-bottom: 1em;
      }
    }
    .bottom {
      text-align: center;
      font-size: 1.2em;
      padding-bottom: 1em;
    }
  }
}
.sitecontainer {
  height:100%;
  min-height:100%;
  font-family: 'Flagship';
  @media (min-width: @screen-md-min) {
    .blog {

    }
  }
  .blog {
    .post {
      .page-header {
        text-align: center;
        h1.title {
          font-size: 1.5em;
          margin-bottom: 5px;
        }
        small.subtitle {
          font-size: 0.8em;
          color: #666;
        }
      }
    }
  }
}
