.page-header
  h1.title A new site
  small.subtitle by Seandon Mooy 4/12/15

#post2.body
  pre(class='language-javascript')
    code.
      var gulp = require('gulp');
      gulp.task('html', function () {
        gulp.src('src/index.html').pipe(gulp.dest('dist'));
      });
