#The_state_of_the_Static_Site_in_2015
  p.
    Hello
  pre(class='language-javascript')
    code.
      var gulp = require('gulp');
      gulp.task('html', function () {
        gulp.src('src/index.html').pipe(gulp.dest('dist'));
      });
