doctype html
html(lang='en')
  head
    title Erulabs.com
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href=assetURL+'assets/bundle.css')
  body(data-ng-app='erulabs')
    .container-fluid
      .row
        .sidebar.col-md-2
          .intro
            .small Hi! I'm
            .name
              div
                span Seand
                span.glyphicon.glyphicon-off
                span n
              span M
              span oo
              span y
            .small and I am a
            ul.about
              li
                a(href='/devops/') DevOps Engineer
              li
                a(href='/javascript/') Javascript Fanboy
              li
                a(href='/fullstack/') Fullstack Coder
              li
                a(href='/gamedev/') Game Developer
              li
                a(href='/linux/') Linux Nerd
              li
                a(href='/rants/') Raving Ranter
              li
                a(href='/hacker/') Hapless Hacker
            .bottom
              div Read my&nbsp;
                a(href='/resume') resume
              div then&nbsp;
                a(href='mailto:seandon.mooy@gmail.com') contact me
      .row
        #blog.sitecontainer(data-ng-controller='BlogCtrl')
          .col-md-2 &nbsp;
          .blog.col-md-10
            .post(data-ng-repeat="post in posts")
              .page-header
                h1.title
                  a(href="/{{ urlize(post.title) }}") {{ post.title }}
                .subtitle
                  span(data-ng-show="post.categories.length")
                    span in
                    span(data-ng-repeat="(i, cat) in post.categories")
                      span &nbsp;
                      span(data-ng-hide="i === post.categories.length-2") and&nbsp;
                      a(href="/{{ urlize(cat) }}") {{ cat }}
                      span(data-ng-hide="i > post.categories.length-3") ,
                  span &nbsp;by Seandon Mooy - {{ post.date }}
              .post-body(data-ng-bind-html="post.html")
            .end Sorry, there are no more posts! Check back soon :)
    script(async, data-manual, type='text/javascript', src=assetURL+'assets/bundle.js')
